extends layout

block content

	- about = content.sections.about;

	.section.aboutSection
		.content  

			h1.commun-title #{about.headline} 

			.about
				.about-left
					.about-image(style='background-image:url(#{about.what.image});')

				.about-right
					
					h2.commun-subtitle.about-subtitle #{about.what.title}

					each text, index in about.what.text
						if index == about.what.text.length - 1
							p.about-text.about-text-nomargin !{text}
						else
							p.about-text !{text}

				//- Fin about right
				.about-separator

				.about-left

					h2.commun-subtitle.about-subtitle #{about.why.title}

					each list, index in about.why.list
						li.about-list !{list}
				
				.about-right
					.about-image.about-image-computer(style='background-image:url(#{about.why.image});')

				.about-separator
				.about-link
					a(href='/servicios', style="width:300px; text-align:center; display:block;, float:inherit;").commun-button #{about.button}

