extends layout

block content

	- about = content.sections.about;

	.section.aboutSection
		.content  

			h1.commun-title #{about.headline} 

			.about
				.about-left
					.about-image(style='background-image:url(#{about.what.image});')

				.about-right
					
					h2.commun-subtitle.about-subtitle #{about.what.title}

					each text, index in about.what.text
						if index == about.what.text.length - 1
							p.about-text.about-text-nomargin !{text}
						else
							p.about-text !{text}

				//- Fin about right
				.about-separator

				.about-left

					h2.commun-subtitle.about-subtitle #{about.why.title}

					div(style='display:none;')
						each list, index in about.why.text
							if index == about.why.text.length
								.about-text.about-text-nomargin !{list}
							else
								.about-text !{list}

					- i = 0;
					each list, index in about.why.list
						- i += 1;
						if index == about.why.text.length + 2000
							li.about-list.about-text-nomargin
								span !{list}
						else
							li.about-list
								.about-list-icon 
									span !{i}
								.about-list-text !{list}
				
				.about-right
					.about-image.about-image-computer(style='background-image:url(#{about.why.image});')

				.about-separator
				.about-link
					a(href='/servicios').commun-button #{about.button}
