extends layout

block content


	- var contact = content.sections.contact;		 

	.section.aboutSection
		.content
		
			if (displayBanners)

				//- Title of the page
				h1.commun-title #{contact.title} 

				each product, index in contact.banners
					//- Show header for contact
					.contact-banner(class=('contact-#{product.type}'))
						.contact-banner-image
							span(class=('#{product.icon}'))
						.contact-banner-info
							h4 #{product.title}
							each text in product.text
								p #{text}
			else
				//- Title of the page
				h1.commun-title 
					<center> #{title} 

				if (quiero)
					//- We use this for the budgeting contact form
					//- Show header for packs 
					a(href="/servicios", style="text-align:center; color:#222; opacity:0.4; margin-top:-1.5em; margin-bottom:2.5em; width:100%; display:block;") ¿Prefieres otro pack?
				else
					div(style='width:100%; display:none; height:200px; background:url(#{promoHeader}); background-size:cover;')

					style.
						body {
							background:url(#{promoHeader}); 
							background-size:cover;
						}
						body:before {
							width:100%;
							height:100%;
							content:'';
							background:rgba(255,255,255,0.5);
							position:absolute;
							top:0;
							left:0; 
							display:none;
						}
						.commun-title {
							color:#fff;
						}

			.contact#form
				.contact-form

					.contact-form-loading

					.contact-form-sent.messageError
						//- If there wasn't any error during the process.
						.contact-form-roundresponse.contact-form-roundresponse-red
							span.icon-envelope

						.contact-form-separator

						p.contact-form-messagetitle #{contact.formSent.fail.title}
						p.contact-form-message <span class="userName-messageSent">Default</span>, #{contact.formSent.fail.message[0]}
						p(style="margin-bottom:0;").contact-form-message #{contact.formSent.fail.message[1]}

					.contact-form-sent.messageSuccess
						//- If there wasn't any error during the process.
						.contact-form-roundresponse.contact-form-roundresponse-green
							span.icon-envelope

						.contact-form-separator

						p.contact-form-messagetitle #{contact.formSent.success.title}
						p.contact-form-message <span class="userName-messageSent">Default</span>, #{contact.formSent.success.message[0]}: <u> <span class="userEmail-messageSent">@</span></u>
						p.contact-form-message <i>#{contact.formSent.success.message[1]}.</i>
						//- p.contact-form-message También te hemos enviado un mail de confirmación a tu correo. Revisa la bandeja de <strong>spam</strong>.
					
					.contact-form-content
						.contact-form-subtitle #{contact.form.headline}

						form(action='/contacta', name='contactus', class='contactForm', method='post', novalidate)

							fieldset.contact-form-field
								p.contact-form-field-text Nombre <span>* (obligatorio, al menos 2 caracteres)</span>

								.contact-form-field-element
									//- keepInputValue class will keep the input value via javascript
									input.keepInputValue(type='name', name='name', placeholder='#{contact.form.inputs.name}' required).contact-form-field-element-input.contact-form-field-element-name

							fieldset.contact-form-field
								p.contact-form-field-text Email <span>* (obligatorio)</span>

								.contact-form-field-element
									//- keepInputValue class will keep the input value via javascript
									input.keepInputValue(type='email', name='email', placeholder='#{contact.form.inputs.email}' required).contact-form-field-element-input 

							fieldset.contact-form-field
								p.contact-form-field-text Teléfono de contacto

								.contact-form-field-element
									//- keepInputValue class will keep the input value via javascript
									input.keepInputValue(type='tel', name='phone', placeholder='#{contact.form.inputs.phone}' required).contact-form-field-element-input 

							fieldset.contact-form-field.contact-form-field-subject
								p.contact-form-field-text Asunto del mensaje <span>(*obligatorio)</span>

								.contact-form-field-element

									//- If we're in contact
									if (options)

										span.contact-form-field-element-select-icon.icon-angle-down
										select(name="subject", required).contact-form-field-element-select

											for option in contact.form.options
												option(value="#{option}") #{option}

									else

										//- Estamos en presupuesto

										select(name="subject", required).contact-form-field-element-select
											option(value="#{title}") #{title}

							fieldset.contact-form-field.contact-form-field-message
								p.contact-form-field-text Tu comentario <span>(*obligatorio)</span>

								.contact-form-field-element
									//- keepInputValue class will keep the input value via javascript
									textarea.keepInputValue(type='textarea', value='', placeholder='#{contact.form.inputs.message}', name='message', required).contact-form-field-element-textarea

							fieldset.contact-form-field.contact-form-field-button(style="margin-bottom:0;")
								input(type="submit", value="#{contact.form.button}").contact-form-field-element-button

block extraScripts
	script(type='text/javascript', src='/js/ajaxContact.js')
	script(type='text/javascript', src='/js/contactFormTracker.js')
