extends layout

block content

	.section.aboutSection
		.content
			
			if (!displayForm)

				//- This block of code is showen when we do a POST petition in order to show
				//- The success/failure code instead of the form.
				
				//- Title of the page
				h1.commun-title Gracias #{form.name} 

				.contact
					.contact-form

						if(!err)

							//- If there wasn't any error during the process.

							.contact-form-roundresponse.contact-form-roundresponse-green
								span.icon-envelope

							.contact-form-separator

							p.contact-form-messagetitle ¡Mensaje enviado!
							p.contact-form-message #{form.name}, hemos recibido satisfactoriamente tu mensaje. Te responderemos en la siguiente dirección: <u> #{form.email}</u>
							p.contact-form-message <i>Si ha introducido incorrectamente su mail, por favor, escribenos un mensaje cuanto antes a landcreativa@gmail.com notificandonos el hecho.</i>
							//- p.contact-form-message También te hemos enviado un mail de confirmación a tu correo. Revisa la bandeja de <strong>spam</strong>.

						else

							//- If there was an error during the process.

							.contact-form-roundresponse.contact-form-roundresponse-red
								span.icon-envelope

							.contact-form-separator

							p.contact-form-messagetitle Mensaje no enviado
							p.contact-form-message #{form.name}, no hemos podido recibir tu correo electrónico. ¿Podrías intentarlo de nuevo?. Si el error persiste, por favor, escribenos a <a href='mailto:info@landcreativa.com' style='color:#ed3636;'>info@landcreativa.com</a> y te atenderemos lo antes posible.
							p(style="margin-bottom:0;").contact-form-message El equipo de Landcreativa 

			else 

				//- Title of the page
				h1.commun-title #{title} 

				if !contact
					//- We use this for the budgeting contact form
					//- Show header for packs 
					a(href="/servicios", style="text-align:center; color:#222; opacity:0.4; margin-top:-1.5em; margin-bottom:2.5em; width:100%; display:block;") ¿Prefieres otro pack?
				else 

					//- Show header for contact

					.contact-banner.contact-cafe
						.contact-banner-image
							span.icon-coffee
						.contact-banner-info
							h4 Tomemos un café.
							p Si tienes cualquier duda, ponte en contacto con nosotros por mail, teléfono... ¡Estamos encantados de atenderte!

					.contact-banner.contact-location
						.contact-banner-image
							span.icon-map
						.contact-banner-info
							h4 ¿Dónde puedes encontrarnos?
							p Estamos en <strong>Madrid</strong>
							p (Contáctanos para otras ciudades y países)
				

				.contact
					.contact-form

						.loading(style='display:none;')
							img(src='https://www.tmdn.org/tmdsview-web/resources/images/loading-gallery.gif')

						.contact-form-sent.messageError
							//- If there wasn't any error during the process.
							.contact-form-roundresponse.contact-form-roundresponse-green
								span.icon-envelope

							.contact-form-separator

							p.contact-form-messagetitle ¡Mensaje enviado!
							p.contact-form-message Jorge, hemos recibido satisfactoriamente tu mensaje. Te responderemos en la siguiente dirección: <u> email</u>
							p.contact-form-message <i>Si ha introducido incorrectamente su mail, por favor, escribenos un mensaje cuanto antes a landcreativa@gmail.com notificandonos el hecho.</i>
							//- p.contact-form-message También te hemos enviado un mail de confirmación a tu correo. Revisa la bandeja de <strong>spam</strong>.

						.contact-form-sent.messageSuccess
							//- If there wasn't any error during the process.
							.contact-form-roundresponse.contact-form-roundresponse-green
								span.icon-envelope

							.contact-form-separator

							p.contact-form-messagetitle ¡Mensaje enviado!
							p.contact-form-message Jorge, hemos recibido satisfactoriamente tu mensaje. Te responderemos en la siguiente dirección: <u> email</u>
							p.contact-form-message <i>Si ha introducido incorrectamente su mail, por favor, escribenos un mensaje cuanto antes a landcreativa@gmail.com notificandonos el hecho.</i>
							//- p.contact-form-message También te hemos enviado un mail de confirmación a tu correo. Revisa la bandeja de <strong>spam</strong>.
						
						.contact-form-content
							.contact-form-subtitle Por favor, usa el formulario de abajo para enviarnos un correo electrónico:

							form(action='/contacta', name='contactus', id='contactus', method='post', novalidate)

								fieldset.contact-form-field
									p.contact-form-field-text Nombre <span>* (obligatorio, al menos 2 caracteres)</span>

									.contact-form-field-element
										//- keepInputValue class will keep the input value via javascript
										input.keepInputValue(type='name', name='name', placeholder='Nombre' required).contact-form-field-element-input.contact-form-field-element-name

								fieldset.contact-form-field
									p.contact-form-field-text Email <span>* (obligatorio)</span>

									.contact-form-field-element
										//- keepInputValue class will keep the input value via javascript
										input.keepInputValue(type='email', name='email', placeholder='Correo electrónico' required).contact-form-field-element-input 

								fieldset.contact-form-field
									p.contact-form-field-text Teléfono de contacto

									.contact-form-field-element
										//- keepInputValue class will keep the input value via javascript
										input.keepInputValue(type='tel', name='phone', placeholder='Teléfono de contacto' required).contact-form-field-element-input 

								fieldset.contact-form-field.contact-form-field-subject
									p.contact-form-field-text Asunto del mensaje <span>(*obligatorio)</span>

									.contact-form-field-element

										//- If we're in contact
										if contact

											span.contact-form-field-element-select-icon.icon-angle-down

											select(name="subject", required).contact-form-field-element-select

												option(value="Premium") Personal - ¡Quiero pack Premium!
												option(value="Gold") Personal - ¡Quiero pack Gold!
												option(value="Silver") Personal - ¡Quiero pack Silver!

												option(value="First Class") Empresa - ¡Quiero pack First class!
												option(value="Business") Empresa - ¡Quiero pack Business!
												option(value="Economy") Empresa - ¡Quiero pack Economy!

												option(value="Analítica web") Otros - ¡Quiero pack Analítica web!
												option(value="SEO & SEM") Otros - ¡Quiero pack SEO & SEM!
												option(value="Marketing Digital") Otros - ¡Quiero pack Marketing Digital!

												option(value="Asistencia tecnica") Asistencia técnica
												option(value="Consulta") Consulta general
												option(value="Prensa") Prensa / Medios
										else

											//- Estamos en presupuesto

											select(name="subject", required).contact-form-field-element-select
												option(value="#{title}") #{title}

								fieldset.contact-form-field.contact-form-field-message
									p.contact-form-field-text Tu comentario <span>(*obligatorio)</span>

									.contact-form-field-element
										//- keepInputValue class will keep the input value via javascript
										textarea.keepInputValue(type='textarea', value='', placeholder='Tu comentario', name='message', required).contact-form-field-element-textarea

								fieldset.contact-form-field.contact-form-field-button(style="margin-bottom:0;")
									input(type="submit", value="Enviar formulario").contact-form-field-element-button

// Includes the footer
include ./footer.jade 