doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width', initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no)
		meta(name='HandheldFriendly', content='True')
		meta(name='apple-mobile-web-app-capable', content='yes')
		
		title= content.title
		// favicon
		//link(rel="shortcut icon", href="/images/favicon/android-icon-192x192.png")
		//link(rel="icon", sizes="192x192", href="/images/favicon/android-icon-192x192.png")
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		
		if ("#{menu}" === "index" ? "meta(name='description', content='#{content.description.home}')" : "No es homeeeee")
		
		// Description
		if('#{menu}' === 'index')
			p Es el indice
			meta(name='description', content='#{content.description.home}')
		else if('#{menu}' === 'nosotros')
			p Es nosotros
			meta(name='description', content='#{content.description.about}')
		else if('#{menu}' === 'servicios')
			p Es servicios
			meta(name='description', content='#{content.description.companies} #{content.description.personal} #{content.description.other}')
		else if('#{menu}' === 'trabajos')
			meta(name='description', content='#{content.description.portfolio}')
		else if('#{menu}' === 'contacta')
			meta(name='description', content='#{content.description.contact}')
		else
			p Es el else
			meta(name='description', content='#{content.description.home}')
			
		meta(property='og:title' content='Landcreativa - Materializing your ideas')
		meta(property='og:site_name' content='Landcreativa')
		meta(property='og:url' content='http://www.landcreativa.com/')
		meta(property='og:image' content='')

		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css') 		
		link(href='/css/normalize.css', rel='stylesheet', type='text/css' )
		link(rel='stylesheet', type='text/css', href='/css/style.css')

header

	// Desktop menu
	.header
		.header-int

			div(style='width:100%; display: none ; height:15px; background:red; position:absolute; top:50%; margin-top:-7.5px; background:red;')

			.header-logo
				a(href='#{content.baseURL}')
					.header-logo-iso
					.header-logo-text
						h1 Landcreativa<span>.com</span> 

			.header-mobilemenu#mobileMenu
				button.header-mobilemenu-button#mobileMenuButton
					span.icon-options 

				ul.header-mobilemenu-dropdown 
					each url, name in content.menu
						li.header-mobilemenu-dropdown-link(class=('#{menu}' === '#{url}' ? 'selected' : ''))
							a(href='#{content.baseURL}#{url}') #{name}

					li.header-mobilemenu-dropdown-link.header-mobilemenu-dropdown-socialnetworks
						a(href='http://www.facebook.com/landcreativa', target='_blank') Facebook

					li.header-mobilemenu-dropdown-link.header-mobilemenu-dropdown-socialnetworks
						a(href='http://www.twitter.com/landcreativa', target='_blank') Twitter

			nav.header-desktopmenu
				each url, name in content.menu
					li.header-desktopmenu-link(class=('#{menu}' === '#{url}' ? 'selected' : ''))
						a(href='#{content.baseURL}#{url}') #{name}
			.header-networks
				ul
					li
						a(href='http://www.facebook.com/landcreativa', target='_blank')
							span.icon-facebook

					li
						a(href='http://www.twitter.com/landcreativa', target='_blank')
							span.icon-twitter

					li
						a(href='http://blog.landcreativa.com/', target='_blank')
							span.icon-blog

					li
						a(href='mailto:info@landcreativa.com')
							span.icon-paperplane
