head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
	meta(name='HandheldFriendly', content='True')
	meta(name='apple-mobile-web-app-capable', content='yes')
	
	// favicon
	//link(rel="shortcut icon", href="/images/favicon/android-icon-192x192.png")
	//link(rel="icon", sizes="192x192", href="/images/favicon/android-icon-192x192.png")
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#3695ed">
	<meta name="google-site-verification" content="zDoYfzmPVrkw8TwqRngXhqspj-t9B8Q-uA0AAVaa2n0" />
	
	// Description
	if(menu === 'index')
		title= content.title.home
		meta(name='description', content='#{content.description.home}')
	else if(menu === 'nosotros')
		title= content.title.about
		meta(name='description', content='#{content.description.about}')
	else if(menu === 'servicios')
		// Content and type for services
		if (serviceIndex)
			// Main page for the services
			title= content.title.services
			meta(name='description', content='#{content.description.services}')
		else
			if (serviceType === 'empresas')
				title= content.title.companies
				meta(name='description', content='#{content.description.companies}')
			else if (serviceType === 'particulares')
				title= content.title.personal
				meta(name='description', content='#{content.description.personal}')
			else if (serviceType === 'otros')
				title= content.title.other
				meta(name='description', content='#{content.description.other}')
			else
				title= content.title.services
				meta(name='description', content='#{content.description.services}')
		// End content and services

	else if(menu === 'trabajos')
		title= content.title.portfolio
		meta(name='description', content='#{content.description.portfolio}')
	else if(menu === 'contacta')
		title= content.title.contact
		meta(name='description', content='#{content.description.contact}')
	else
		title= content.title.home
		meta(name='description', content='#{content.description.home}')
	
	// Facebook
	meta(property='og:image' content='http://landcreativa.com/images/iso.png')
	meta(property="og:type", content="website")
	meta(property="og:url", content="https://landcreativa.com")
	meta(property="og:site_name", content="landcreativa.com")
	
	// Google
	meta(itemprop="description", content="#{content.description.home}")
	
	// Twitter
	meta(property="twitter:account_id" content="332470891")
	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:site" content="@landcreativa")
	meta(name="twitter:title" content="#{content.title.home}")
	meta(name="twitter:description" content="#{content.description.home}")
	meta(name="twitter:creator" content="@landcreativa")
	meta(name="twitter:image:src" content="http://landcreativa.com/images/iso.png")
	meta(name="twitter:domain" content="landcreativa.com")

	link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css') 		
	link(href='/css/normalize.css', rel='stylesheet', type='text/css' )
	link(rel='stylesheet', type='text/css', href='/css/style.css')
