extends layout

block content

	- var portfolio = content.sections.portfolio; // App.js pass a json with this link.
	.section.aboutSection
		.content
			h1.commun-title #{portfolio.headline}
			.portfolio
				each product, index in portfolio.works
					// Single portfolio
					article.portfolioBox
						.portfolioBox-image(style="background-image:url(#{product.image});")
							.portfolioBox-link
								a(href='#{product.url}', target='_blank')
						.portfolioBox-options
							.portfolioBox-options-title
								a(href='#{product.url}', target='_blank')
									h4 !{product.title}
							ul.portfolioBox-options-buttons
								li
									a(href='#{product.url}', target="_blank")
										span.icon-link
			.about-link
				a(href="/contacta").commun-button ¡Quiero aparecer aquí!

