
- var services = content.sections.services;				// App.js pass a json with this link.
- var products = content.sections.services.products;	// App.js pass a json with this link.

.services
	ul.services-tab
		each menu, index in services.menu
			li.services-tab-item.notransition
				a(href='#{menu.url}', onclick="changeTab(#{index}); return false;").notransition
					span #{menu.letter}
					div
						p(style='display:none') #{menu.name}
						h3 #{menu.name}

	// Content of the products

	.services-content

		////////////////////////////
		// PAQUETE DE 3 PRODUCTOS //
		////////////////////////////

		.services-content-box.services-content-azul
			
			.services-buypannel
				.services-buypannel-buy
					span
						a(href='/quiero/economy').commun-button ¡Quiero el pack economy!
				.services-buypannel-buy
					span
						a(href='/quiero/business').commun-button ¡Quiero el pack business!
				.services-buypannel-buy
					span
						a(href='/quiero/first-class').commun-button ¡Quiero el pack First class! 

			each product, name in products.companies 
				// Single product
				article.product
					.productBox
						.productBox-image(style='background-image:url("#{product.image}");')
						h2.productBox-title #{product.title}
						h3.productBox-subtitle 
							span #{product.subtitle}

						p.productBox-include
							span !{services.includes}

						p.productBox-buy
							a(href='#{product.url}').productBox-button.productBox-button-companies
								!{services.button} #{product.title}!

						ul.productBox-featureList
							each feature in product.features
								li
									span.icon-angle-right
									!{feature}

		////////////////////////////
		// PAQUETE DE 3 PRODUCTOS //
		////////////////////////////

		.services-content-box.services-content-orange 
			
			.services-buypannel
				.services-buypannel-buy
					span
						a(href='/quiero/silver').commun-button.productBox-button-personal  ¡Quiero el pack Silver!
				.services-buypannel-buy
					span
						a(href='/quiero/gold').commun-button.productBox-button-personal  ¡Quiero el pack Gold!
				.services-buypannel-buy
					span
						a(href='quiero/premium').commun-button.productBox-button-personal  ¡Quiero el pack Premium! 

			each product, name in products.personal 
				// Single product
				article.product
					.productBox
						.productBox-image(style='background-image:url("#{product.image}");')
						h2.productBox-title #{product.title}
						h3.productBox-subtitle 
							span #{product.subtitle}
						p.productBox-buy
							a(href='#{product.url}').productBox-button.productBox-button-personal 
								!{services.button} #{product.title}!

						p.productBox-include
							span !{services.includes}

						ul.productBox-featureList
							each feature in product.features
								li 
									span.icon-angle-right
									!{feature}

		////////////////////////////
		// PAQUETE DE 6 PRODUCTOS //
		////////////////////////////

		.services-content-box.services-content-yellow(style='padding-bottom:0;')
			
			- i = 0;
			each product, name in products.others

				if (i == 3)
					.services-separator 

				- i++;
				
				// Single product
				article.product
					.productBox
						h2.productBox-title #{product.title}
						h3.productBox-subtitle
							span #{product.subtitle}

						p.productBox-include
							span Informacion

						p.productBox-othersdescription #{product.description}
						p.productBox-buy-marketing
							a(href='#{product.url}').productBox-button.productBox-button-marketing 
								!{services.otherServicesButton}
						
						ul.productBox-featureList
							each feature in product.features
								li
									span.icon-angle-right
									!{feature}
