
- var services = content.sections.services;				// App.js pass a json with this link.
- var products = content.sections.services.products;	// App.js pass a json with this link.

.services
	ul.services-tab
		each menu, index in services.menu
			li.services-tab-item.notransition
				a(href='#{menu.url}', onclick="changeTab(#{index}); return false;").notransition
					span #{menu.letter}
					div
						p(style='display:none') #{menu.name}
						h3 #{menu.name}

	// Content of the products

	.services-content

		////////////////////////////
		// PAQUETE DE 3 PRODUCTOS //
		////////////////////////////

		.services-content-box.services-content-azul
		
			each product, name in products.companies 
				// Single product
				article.product
					.productBox
						.productBox-image(style='background-image:url("#{product.image}");')
						h2.productBox-title #{product.title}
						h3.productBox-subtitle #{product.subtitle}
						p
							a(href='#{product.url}').productBox-button.productBox-button-companies #{services.button}

						p #{services.includes}

						ul.productBox-featureList
							each feature in product.features
								li
									span.icon-angle-right
									!{feature}

		////////////////////////////
		// PAQUETE DE 3 PRODUCTOS //
		////////////////////////////

		.services-content-box.services-content-orange 
		
			each product, name in products.personal 
				// Single product
				article.product
					.productBox
						.productBox-image(style='background-image:url("#{product.image}");')
						h2.productBox-title #{product.title}
						h3.productBox-subtitle #{product.subtitle}
						p
							a(href='#{product.url}').productBox-button.productBox-button-personal #{services.button}

						p #{services.includes}

						ul.productBox-featureList
							each feature in product.features
								li 
									span.icon-angle-right
									!{feature}

		////////////////////////////
		// PAQUETE DE 6 PRODUCTOS //
		////////////////////////////

		.services-content-box.services-content-yellow  
			
			- i = 0;
			each product, name in products.others

				if (i == 3)
					.services-separator 

				- i++;
				
				// Single product
				article.product
					.productBox
						h2.productBox-title #{product.title}
						h3.productBox-subtitle #{product.subtitle}
						p.productBox-othersdescription #{product.description}
						p
							a(href='#{product.url}').productBox-button.productBox-button-marketing #{services.otherServicesButton}
						

						ul.productBox-featureList
							each feature in product.features
								li
									span.icon-angle-right
									!{feature}
